.Card {
  background-color: #95dada;
  border: 1px solid grey;
  padding: 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.25s ease-in-out;
}

.Card:hover {
  transform: scale(1.05);
}
